@model NextLevel.Models.Athlete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Athlete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gradeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gradeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.age }) |
    @Html.ActionLink("Back to List", "Index")
</p>
