@model NextLevel.Models.Athlete

@{
    ViewBag.Title = "TEST";
}

<h2>TEST</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gradeLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) { 

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gradeLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.age }) |
                @Html.ActionLink("Details", "Details", new { id = item.age }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.age })
            </td>
        </tr>
    }

</table>

